<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Linux Security Scanner</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h1>Linux Security Scanner</h1>

    <form method="POST" action="/scan">
        <label>Tryb skanowania</label>
        <select name="mode">
            <option value="system">System</option>
            <option value="network">Network</option>
            <option value="files">Files</option>
        </select>

        <label>Host (network)</label>
        <input name="target" placeholder="127.0.0.1">

        <label>Katalog (files)</label>
        <input name="path" placeholder="./scan_data">

        <button type="submit">▶ Uruchom skan</button>
    </form>
</div>
</body>
</html>
